build*
bin
.idea
.vscode
.vs
node_modules
Testing
cmake-*
monthly_data\.txt

.DS_Store

reporter\.txt

# Ignore the backup of the UML diagram
documentation/MaSim.uml~

# Ingore the "default" output directory
out

# Ignore stdout and stderr files on cluster
mdr_cluster_script/*.e*
mdr_cluster_script/*.o*

mdr_output/
mdr_analysis/raw_data/
mdr_analysis/__pycache__/
mdr_analysis/.ipynb_checkpoints
!mdr_analysis/generated_figures/.gitkeep
mdr_analysis/*-Copy*.ipynb
